*{
    font-family: 'Titillium Web', sans-serif;
    background-color: #171717;
    color: white;
}

.Zen{
    font-family: 'Zen Tokyo Zoo', cursive;
}

/* .sideheader{
    background-image: url("../images/rightbarimage.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */
.leftbar{
    text-shadow: 
    /* -2px 2px 3px rgb(0, 247, 255);     */
    -2px 2px 3px red;    
    /* background-color: #171717; */
    /* color: white; */
    /* min-height: 100vh; */
}